<form class="ui stacked segment form" action="/dashboard/addplaylist" method="POST">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
  </div>
  <div>
    <label>Rating</label>
    <input placeholder="Rating" type="range" name="rating" min="0" max="5">
  </div>
 <button class="ui blue submit button">Add Playlist</button>
</form>
