<form class="ui stacked segment form" action="/playlist/{{id}}/addsong" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Title</label>
            <input type="text" name="title" autofocus required title = "Please include a valid Title"
            placeholder="Title">
        </div>
        <div class="field">
            <label>Artist</label>
            <input type="text" name="artist" required title = "Please include a valid Artist"
            placeholder="Artist">
        </div>
    </div>
    <button class="ui blue submit button">Add Song</button>
</form>