<section class="ui left aligned middle aligned segment">

  {{> dashboardHeader }}

  {{#unless search}}
    {{#unless playlists}}
    <h3 class="ui message">
      Start adding your playlists!
    </h3>
    {{/unless}}
  {{/unless}}

  <div class="ui centered cards">
    
    {{#each playlists}}
      {{> playlistCard}}
    {{/each}}
    
  </div>

</section>