<nav class="ui stackable menu">
  <header class="ui header item"> <a href="/start"> Playlist App </a></header>
  <div class="right menu">
    <span class="name">{{fullname}}</span>
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About  </a>
    <a id="stats" class="item" href="/stats"> Statistics</a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  document.querySelector("#{{id}}").classList.add("active");
</script>

