<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <title>{{title}}</title>
    <!-- import the SemanticUI stylesheet -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.4/semantic.min.css">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">   
  </head>
  <body>
    <section class="ui container">
      {{{body}}}
    </section>
    <!-- import the jQuery file -->
     <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- import the SemanticUI JavaScript file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.4/semantic.min.js"></script>
    <!-- import the webpage's JavaScript file -->
    <script src="/script.js"></script>
  </body>
</html>
