{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">
  
    <h2>About the Playlist App</h2>
      <p>
        More information about the app
      </p>

</section>

<div class="ui centered card">
  <div class="image">
    <img src="/stevie.jpg">
  </div>
  <div class="content">
    <a class="header"> Stevie Feliciano</a>
    <div class="meta">
      <span class="date">Joined in 2016 </span>
    </div>
    <div class="description">
      Stevie is an Web Developer living in Boston.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
        35 contacts
    </a>
  </div>
</div>
