{{> menu}}

{{#with singlePlaylist}}

<section class="ui center aligned middle aligned scrolling segment">
    <h2 class="ui header">
        {{title}}
    </h2>
    {{> listsongs}}
</section>

<section class="ui center aligned middle aligned segment">

{{> addsong}}

</section>

{{/with}}